[Unit]
Description=BindDNSECMonitor
Before=named.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/cme-bind-dnssec/bind-dnssec-monitor.sh
TimeoutStopSec=20
WorkingDirectory=/usr/local/sbin/cme-bind-dnssec
KillMode=process
Restart=on-failure
Environment='LOGGER_FLAGS=--file /var/log/named/cme-dnssec-monitor.log --tag bind-dnssec-monitor'

[Install]
WantedBy=multi-user.target
