[Unit]
Description=BindDNSSECMonitor
Before=named.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/cme-bind-dnssec/dnssec-monitor.sh
KillSignal=1
WorkingDirectory=/usr/local/sbin/cme-bind-dnssec
KillMode=control-group
Restart=on-failure
SyslogIdentifier=cme-dnssec-monitor
TimeoutStopSec=15
EnvironmentFile='/etc/cme/dnssec.env'
[Install]
WantedBy=multi-user.target
