[Unit]
Description=BindDNSSECMonitor
After=cme-dnssec-monitor.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/cme-dnssec-monitor/external-cds-monitor.sh
KillSignal=1
WorkingDirectory=/usr/local/sbin/cme-dnssec-monitor
KillMode=control-group
Restart=on-failure
SyslogIdentifier=cme-dnssec-monitor
TimeoutStopSec=15
EnvironmentFile=/etc/cme/dnssec-monitor.env
[Install]
WantedBy=multi-user.target
