[Unit]
Description=BindDNSSECMonitor
Before=named.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/cme-bind-dnssec/dnssec-monitor.sh
KillSignal=15
WorkingDirectory=/usr/local/sbin/cme-bind-dnssec
KillMode=control-group
Restart=on-failure
Environment="LOGGER_FLAGS=--file /var/log/named/cme-dnssec-monitor.log --tag cme-dnssec-monitor"
SyslogIdentifier=cme-dnssec-monitor
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
